* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: sans-serif;
    font-size: 14px;
}
  
.sidebar {
    width: 20%;
    position: fixed;
    height: 100%;
    padding-top: 35px;
    background-color: rgb(244, 244, 244);
}

.sidebar li {
    padding: 0.3em 1em;
    font-size: 24px;
}

.sidebar a {
    color: rgb(110, 110, 110);
    display: block;
}

.selected > a {
    color: white;
}

.grass {
    background-color: mediumseagreen;
}
 
.poison {
    background-color: mediumpurple;
}
  
.fire {
    background-color: goldenrod;
}
  
.flying {
    background-color: steelblue;
}
  
.water {
    background-color: dodgerblue;
}
  
.bug {
    background-color: brown;
}
  
.normal {
    background-color: gray;
}
  
.ground {
    background-color: peru;
}
  
.fairy {
    background-color: hotpink;
}
  
.fighting {
    background-color: crimson;
}
  
.electric {
    background-color: hsl(51deg 73% 50%);
}
  
.psychic {
    background-color: orange;
}
  
.rock {
    background-color: dimgray;
}
  
.ice {
    background-color: darkcyan;
}
  
.dragon {
    background-color: mediumaquamarine;
}
  
.ghost {
    background-color: black;
}
  
.dark {
    background-color: slategray;
}
  
.steel {
    background-color: steelblue;
}
  
.all {
    background-color: dimgray;
}
  
.cards-container {
    margin-left: 20%;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
}

.pokemon-card {
    width: 270px;
    padding: 0.6em;
    border-radius: 0.5em;
    border: 1px solid hsl(0deg 0% 65%);
    background-color: rgb(244, 244, 244);
    color: rgb(110, 110, 110);
}

.pokemon-img {
    display: flex;
    justify-content: center;
    background-color: rgb(230, 230, 230);
}

.pokemon-card .main-content {
    padding-top: 0.6em;
}

.pokemon-card .main-content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pokemon-type {
    display: flex;
    column-gap: 4px;
}

.pokemon-type > div {
    padding: 0.2em 0.2em;
    border-radius: 0.2em;
    color: white;
}

.pokemon-type .green {
    background-color: hsl(137, 34%, 53%);
}

.pokemon-type .purple {
    background-color: hsl(255, 52%, 65%);
}

.traits {
    padding-top: 0.6em;
}

.trait {
    display: flex;
    justify-content: space-between;
    padding: 0.25em 0;
    border-bottom: 1px solid hsl(0deg 0% 50% / 38%);
}

.traits .trait:last-child {
    border: none;
}

.trait > dt {
    font-weight: 700;
}